img {
  height: 100%;
  width: 100%;
  position: relative;
}

.projects {
  margin-top: 5rem;
  display: flex;
  flex-wrap: wrap;

 
  .project-item {
    position: relative;
    max-width: 400px;
    height: 250px;
    margin: 2.5em 5em;
  }
  
  
}

