.container {
    position: absolute;
    left: 10%;
    top: 50%;
    transform: translateY(-50%);
    width: 40%;
    max-height: 90%;

    h1 {
        color: white;
        font-size: 53px;
        margin: 0;
        font-family: 'Coolvetica';
        font-weight: 400;
        opacity: 0;
        animation: fadeIn 1s 1s;
        animation-fill-mode: forwards;
    }

    .home-text {
        color: #6f7378;
        opacity: 0;
        animation: fadeInUp 1s 1.2s;
        animation-fill-mode: forwards;
        font-size: 20px;
        font-family: 'Coolvetica';
        letter-spacing: 1px;
    }
}